* { box-sizing: border-box; }

.center { text-align: center; margin-left: auto; margin-right: auto;}

table, body {
  font-family: Helvetica, Arial, sans-serif;
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.selection {
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  background-color: #FCFCFC;
  box-shadow: 0 2px 1px rgba(0,0,0,0.16);
  margin-bottom: 5px;
}

.selection h3 {
  margin-top: 0;
}

.custom_amount {
  font-family: Helvetica, Arial, sans-serif;
  max-width: 148px;
  height: 30px;
  padding: 0 12px;
  border-radius: 5px;
  margin-right: 7px;
  text-align: right;
}

@media screen and (max-width: 720px) {
  .flex-box {
    flex-direction: column;
  }

  .logotype {
    max-height: 128px;
  }
}
